<!-- start Footer -->

<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">CGV</section>
		<section class="col">CGU</section>
		<section class="col">Politique de confidincialité</section>
	</div>
</footer>
<!-- end Footer -->
