<h1>Bonjour {{ user }}, veuillez confirmer votre adresse email</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant qur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientont ! 
</p>
<p>
    Equipe Playducatif
</p>
