{% extends "base.html.twig" %}

{% block title %}Espace admin - Playducatif - spécialiste des jeux éducatifs{% endblock %}

{% block body %}
    <h1>Administration des utilisateurs</h1>
{% endblock %}